# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# dotenv environment variables file
.env

# Build folder
public/

# Mac files
.DS_Store

# Editor files
.vscode
.idea
